name: Default

on:
  push:
  pull_request:
    types: ['synchronize']

jobs:
  checks:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with: 
          persist-credentials: false

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
        
      - name: Install
        run: npm ci --no-audit --prefer-offline 
        
      - name: Build
        run: npm run build --if-present
        
      - name: Run Lint
        run: npm run lint-report
        continue-on-error: true

      - name: Run Test
        run: npm run test-report
        continue-on-error: true
         
      - name: Annotate Code Linting Results
        uses: agyemanjp/ci-checks-action@1.0.2
        with:
          ghToken: "${{ secrets.GITHUB_TOKEN }}"
          checks: "test:.test-report.json|lint:.lint-report.json"
        
     